<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6cbcc">  <td>17/12/06 23:11:07</td>   <td>0</td> <td title="&gt;&gt;ConfigClass.ExtentReports()[pri:0, instance:com.testcases.AddToCart]">&gt;&gt;ExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="b6cbcc">  <td>17/12/06 23:12:17</td>   <td>70583</td> <td title="&lt;&lt;ConfigClass.FlushExtentReports()[pri:0, instance:com.testcases.AddToCart]">&lt;&lt;FlushExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="b6cbcc">  <td>17/12/06 23:11:07</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ConfigClass.LaunchApplication()[pri:0, instance:com.testcases.AddToCart]">&gt;&gt;LaunchApplication</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="b6cbcc">  <td>17/12/06 23:12:12</td>   <td>65524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConfigClass.LogoutApplication()[pri:0, instance:com.testcases.AddToCart]">&lt;&lt;LogoutApplication</td> 
<td>&nbsp;</td>  <td>main@1742920067</td>   <td></td> </tr>
<tr bgcolor="96e697">  <td>17/12/06 23:11:18</td>   <td>10781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCart.VerifyCart()[pri:0, instance:com.testcases.AddToCart]">VerifyCart</td> 
  <td>main@1742920067</td>   <td></td> </tr>
</table>
